<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/css/bootstrap.css' />
      <link rel="stylesheet" href="/css/style.css"/>
      <script src="/js/jquery-2.1.3.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="header" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="h1"><b>AppChestraGames</b></div>
                </div>
                <div class="col-md-6 pull-right text-right">
                    <div class="place_login">Hello, <a href=""><%= user.login %></a></div>
                </div>
            </div>
        </div>
    </div>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
                <div class="my_well">
                    <div class="row">
                        <div class="col-md-12"><img class="img-center" src="/img/noughts-crosses.jpg" alt=""/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#choose_player">Play</button>
                        </div>
                    </div>
                </div>
          </div>
          <div class="col-md-3 pull-right">
              <div class="h4 custom_list">Gamers list</div>
              <ul>
                  <% for(var i=0; i<gamers.length; i++) {%>
                  <li><%= gamers[i].login %></li>
                  <% } %>
              </ul>
              <form action="/registration">
                  <button type="submit" class="btn btn-primary">Registration</button>
              </form>
              <div class="h4 custom_list">Unfinished games</div>
              <ol>
                  <% for (i=0; i < oldGames.length; i++){
                  if(oldGames[i].status == 'new'){%>
                      <li><a href="<%= oldGames[i]._id %>">New game</a></li>
                  <% continue;} %>
                  <li><a href="/games/<%= oldGames[i]._id %>">Started game</a></li>
                  <% } %>
              </ol>
          </div>
      </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="choose_player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Choose another player</h4>
                </div>
                <form action="/games/create" method="get">
                    <div class="modal-body">
                        <% for (var i = 0; i < gamers.length; i++) {%>
                            <div class="radio">
                                <label><input type="radio" name="player" value="<%= gamers[i]._id %>"/><%= gamers[i].login %></label>
                            </div>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
